{
  "branches": [
    { "name": "main" },
    { "name": "master" },
    { "name": "rc", "prerelease": true }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@saithodev/semantic-release-gitea",
      {
        "assets": [
          { "path": "yanic*" }
        ]
      }
    ]
  ]
}
