[Unit]
Description=yanic's respondd

[Service]
Type=simple
ExecStart=/opt/go/bin/yanic respondd --config /etc/respondd.conf
Restart=always
RestartSec=5s
Environment=PATH=/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin

[Install]
WantedBy=multi-user.target
