$freifunk_gelb: #ffb400;
$freifunk_magenta: #dc0067;
$freifunk_blau: #009ee0;

$dark_background: #373636;
$dark_textcolor: #fff;

$menu_background_1: $freifunk_gelb;
$menu_textcolor_1: #000;

$menu_background_2: $freifunk_magenta;
$menu_textcolor_2: #fff;

$menu_background_3: $freifunk_blau;
$menu_textcolor_3: #fff;

$menu_background_4: #ccc;
$menu_textcolor_4: #000;

$max_design_width: 1108px;
$max_content_width: 720px;
$navi_height: 39px;

/* vim: syntax=css sw=2 ts=2 sts=2 et
 */
